In [71]:
import pandas as pd

# 文件路径
similarity_scores_path = "/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/to_use/241113similarity_scores_multitopic.csv"
story_analysis_path = "/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/to_use/241125advanced_multitopic_story_analysis.csv"
spatial_join_path = "/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/to_use/241202spatial_join_2010.xlsx"
cgss_data_path = "/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/to_use/CGSS2010-2015_withoutvarlabel.dta"

# 读取文件到DataFrame
bert_similarity_scores_df = pd.read_csv(similarity_scores_path)
gpt_story_analysis_df = pd.read_csv(story_analysis_path)
spatial_join_df = pd.read_excel(spatial_join_path)
cgss_data_df= pd.read_stata(cgss_data_path)

In [66]:
gpt_story_analysis_df.head()

,故事名称,仁义,忠诚,佛教,道教,儒家,杀戮,孝道,慈善,信任,...,惩罚,诚实,长寿,宗族,祖先,平等,鬼神,古时候,馈赠,故事原文
0,01233__479-拿龙,A,A,D,D,D,D,D,A,A,...,A,D,D,D,D,D,A,D,D,479-拿 龙\n\n（回族）\n\n桃园坝子的回回人可多啦，相传回回人中还出了不少降龙伏虎...
1,01085__328-吐良的传说,A,A,D,D,D,A,D,D,D,...,D,D,D,D,D,D,D,A,D,328-吐良的传说\n\n（景颇族）\n\n传说在很久以前，瑞达崩地方有一个英俊剽悍的小伙子...
2,01362__611摇竹惊雀,C,D,D,D,D,D,D,D,C,...,C,D,D,D,D,D,D,A,D,611.摇竹惊雀\n\n（汉族）\n\n很早以前.在个旧锡矿山上，有一个叫金竹林的地方。这里...
3,01356__605-父亲长出了双牛脚,A,A,D,D,A,D,A,D,A,...,A,A,D,A,D,D,A,D,A,605-父亲长出了双牛脚\n\n（汉族）\n\n有一对相处得极好的朋友，一个叫张三，另一个叫...
4,01357__606偷盗的下场,A,A,D,D,A,D,A,A,C,...,A,A,D,A,D,D,A,A,A,606.偷盗的下场\n\n（阿昌族〉\n\n很久以前，石嘴山下住着两兄弟.哥哥叫岩?弟弟叫航...

In [72]:
story_analysis_path = "/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241203advanced_multitopic_story_analysis_add.csv"

In [73]:
gpt_story_analysis_df = pd.read_csv(story_analysis_path)

In [82]:
spatial_join_df = spatial_join_df[['name', 'CNTYGB_2010']]
spatial_join_df.head()

                 name  CNTYGB_2010
0     04946__322老汉的宝物          NaN
1  04743__121造过麦山的白土城     632122.0
2     05119__496伊斯玛悔过     630104.0
3       05049__425三姊妹          NaN
4     04849__225老鼠的智慧     632321.0

In [14]:
bert_similarity_scores_df = pd.merge(
    bert_similarity_scores_df,
    spatial_join_df[['name', 'CNTYGB_2010']],  # 只保留需要的列
    on='name',  # 按照 'name' 列合并
    how='left'  # 使用左连接，保留 bert_similarity_scores_df 的所有行
)
bert_similarity_scores_df.head()

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,宗族_相似度,遵守_相似度,帝王_相似度,信任_相似度,鬼神_相似度,慈善_相似度,惩罚_相似度,祖先_相似度,孝道_相似度,CNTYGB_2010_y
0,1,04946__322老汉的宝物,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏撒拉族循化貝,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,0.730195,0.711460,0.638498,0.731195,0.740758,0.699354,0.691494,0.750695,0.734456,NaN
1,2,04743__121造过麦山的白土城,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏土族民和县,"{'lng': 102.83639, 'lat': 36.325561}",NaN,NaN,...,0.675552,0.687503,0.733013,0.630614,0.674856,0.702331,0.643676,0.682414,0.650865,632122.0
2,3,05119__496伊斯玛悔过,林昌林,missing valuesd,missing valuesd,missing valuesd,宁夏回族西宁市,"{'lng': 101.78445, 'lat': 36.623385}",NaN,NaN,...,0.712669,0.745080,0.649392,0.738193,0.718849,0.757087,0.659119,0.791567,0.752835,630104.0
3,4,05049__425三姊妹,李友楼,missing valuesd,missing valuesd,missing valuesd,宁夏土族互助县,"{'lng': 101.964569, 'lat': 36.850022}",NaN,NaN,...,0.735000,0.655842,0.652020,0.689178,0.711410,0.677478,0.668782,0.743176,0.694530,NaN
4,5,04849__225老鼠的智慧,missing values,missing valuesd,missing valuesd,missing valuesd,宁夏藏抜同仁县,"{'lng': 116.413384, 'lat': 39.910925}",NaN,NaN,...,0.712086,0.679584,0.672575,0.686730,0.706321,0.692279,0.702645,0.726032,0.710891,632321.0

In [ ]:
import pandas as pd
# 筛选列名包含“相似度”的列
similarity_columns = [col for col in bert_similarity_scores_df.columns if '相似度' in col]
# 按 CNTYGB_2010_y 分组并计算包含“相似度”列的平均值
grouped_mean = bert_similarity_scores_df.groupby('CNTYGB_2010_y')[similarity_columns].mean()
grouped_mean

,佛教_相似度,诚实_相似度,仁义_相似度,儒家_相似度,长寿_相似度,努力_相似度,杀戮_相似度,平等_相似度,古时候_相似度,忠诚_相似度,...,道教_相似度,宗族_相似度,遵守_相似度,帝王_相似度,信任_相似度,鬼神_相似度,慈善_相似度,惩罚_相似度,祖先_相似度,孝道_相似度
CNTYGB_2010_y,,,,,,,,,,,,,,,,,,,,,
110101.0,0.627204,0.641541,0.602061,0.648971,0.670654,0.713013,0.584959,0.658805,0.707220,0.672976,...,0.658013,0.697833,0.692994,0.652327,0.694985,0.680254,0.643900,0.650750,0.690843,0.661680
110102.0,0.648997,0.655926,0.628639,0.660062,0.676626,0.708322,0.600496,0.662797,0.700608,0.665244,...,0.655542,0.698151,0.714931,0.646816,0.702883,0.685855,0.671675,0.664529,0.704574,0.689799
110103.0,0.647342,0.652669,0.639101,0.664021,0.672837,0.717665,0.582066,0.676229,0.684179,0.666603,...,0.652740,0.682036,0.703467,0.647082,0.703839,0.688047,0.677565,0.652820,0.691486,0.689240
110104.0,0.637858,0.663647,0.638578,0.665970,0.678435,0.722500,0.602756,0.673244,0.694439,0.679767,...,0.659218,0.692633,0.706277,0.663916,0.718902,0.666316,0.676991,0.659079,0.693067,0.676039
110105.0,0.678146,0.700112,0.674066,0.697291,0.715312,0.704049,0.646466,0.690527,0.716004,0.681057,...,0.687615,0.702745,0.739019,0.671852,0.721372,0.693897,0.699813,0.668688,0.706609,0.701453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654322.0,0.713722,0.659978,0.699120,0.690324,0.706679,0.694868,0.683822,0.702427,0.707493,0.681976,...,0.677995,0.683883,0.704599,0.639900,0.673686,0.715457,0.702124,0.691320,0.714240,0.674622
654323.0,0.668074,0.671634,0.651225,0.674809,0.695421,0.678634,0.676784,0.680349,0.697256,0.693030,...,0.678443,0.716080,0.693495,0.707788,0.686303,0.681385,0.671265,0.706359,0.710154,0.643387
654324.0,0.678564,0.666535,0.686435,0.712911,0.711209,0.714306,0.645886,0.700707,0.724791,0.726612,...,0.673839,0.719771,0.704939,0.666154,0.704349,0.699447,0.710896,0.668090,0.734236,0.707188
654326.0,0.706214,0.628829,0.694208,0.717394,0.714287,0.728690,0.619480,0.691498,0.750154,0.712320,...,0.654728,0.703818,0.725930,0.648282,0.680964,0.722217,0.727815,0.661478,0.723926,0.734650
659002.0,0.724286,0.596403,0.655257,0.635263,0.657065,0.673766,0.692056,0.631136,0.712232,0.653420,...,0.673383,0.630756,0.665734,0.581717,0.642381,0.698252,0.661099,0.632306,0.692833,0.645751

In [ ]:
# 替换列名为统一格式
grouped_mean.rename(
    columns=lambda x: f"bert_similarity_{x.split('_')[0]}" if '_相似度' in x else x,
    inplace=True
)
grouped_mean

In [ ]:
grouped_mean.reset_index(inplace=True)
grouped_mean

In [ ]:
grouped_mean.reset_index(inplace=True)
if 'CNTYGB_2010_y' in grouped_mean.columns:
    # 将CNTYGB_2010_y列转换为整数类型，处理NaN值为默认值（如0）
    grouped_mean['CNTYGB_2010_y'] = grouped_mean['CNTYGB_2010_y'].fillna(0).astype(int)
else:
    print("列名 'CNTYGB_2010_y' 不存在，请检查数据框")
grouped_mean

,CNTYGB_2010_y,bert_similarity_佛教,bert_similarity_诚实,bert_similarity_仁义,bert_similarity_儒家,bert_similarity_长寿,bert_similarity_努力,bert_similarity_杀戮,bert_similarity_平等,bert_similarity_古时候,...,bert_similarity_道教,bert_similarity_宗族,bert_similarity_遵守,bert_similarity_帝王,bert_similarity_信任,bert_similarity_鬼神,bert_similarity_慈善,bert_similarity_惩罚,bert_similarity_祖先,bert_similarity_孝道
0,110101,0.627204,0.641541,0.602061,0.648971,0.670654,0.713013,0.584959,0.658805,0.707220,...,0.658013,0.697833,0.692994,0.652327,0.694985,0.680254,0.643900,0.650750,0.690843,0.661680
1,110102,0.648997,0.655926,0.628639,0.660062,0.676626,0.708322,0.600496,0.662797,0.700608,...,0.655542,0.698151,0.714931,0.646816,0.702883,0.685855,0.671675,0.664529,0.704574,0.689799
2,110103,0.647342,0.652669,0.639101,0.664021,0.672837,0.717665,0.582066,0.676229,0.684179,...,0.652740,0.682036,0.703467,0.647082,0.703839,0.688047,0.677565,0.652820,0.691486,0.689240
3,110104,0.637858,0.663647,0.638578,0.665970,0.678435,0.722500,0.602756,0.673244,0.694439,...,0.659218,0.692633,0.706277,0.663916,0.718902,0.666316,0.676991,0.659079,0.693067,0.676039
4,110105,0.678146,0.700112,0.674066,0.697291,0.715312,0.704049,0.646466,0.690527,0.716004,...,0.687615,0.702745,0.739019,0.671852,0.721372,0.693897,0.699813,0.668688,0.706609,0.701453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,654322,0.713722,0.659978,0.699120,0.690324,0.706679,0.694868,0.683822,0.702427,0.707493,...,0.677995,0.683883,0.704599,0.639900,0.673686,0.715457,0.702124,0.691320,0.714240,0.674622
1717,654323,0.668074,0.671634,0.651225,0.674809,0.695421,0.678634,0.676784,0.680349,0.697256,...,0.678443,0.716080,0.693495,0.707788,0.686303,0.681385,0.671265,0.706359,0.710154,0.643387
1718,654324,0.678564,0.666535,0.686435,0.712911,0.711209,0.714306,0.645886,0.700707,0.724791,...,0.673839,0.719771,0.704939,0.666154,0.704349,0.699447,0.710896,0.668090,0.734236,0.707188
1719,654326,0.706214,0.628829,0.694208,0.717394,0.714287,0.728690,0.619480,0.691498,0.750154,...,0.654728,0.703818,0.725930,0.648282,0.680964,0.722217,0.727815,0.661478,0.723926,0.734650
1720,659002,0.724286,0.596403,0.655257,0.635263,0.657065,0.673766,0.692056,0.631136,0.712232,...,0.673383,0.630756,0.665734,0.581717,0.642381,0.698252,0.661099,0.632306,0.692833,0.645751

In [34]:
# 确保列名存在
if 'china10_cntygb' in cgss_data_df.columns:
    # 将 china10_cntygb 列转换为整数类型，空值填充为 0
    cgss_data_df['china10_cntygb'] = cgss_data_df['china10_cntygb'].fillna(0).astype(int)
else:
    print("列名 'china10_cntygb' 不存在，请检查数据框")
cgss_data_df.head()

,id_old,id_str,surveyyear,id_surveyyear,s41,s42,s43,cntyname,china10_cntygb,s44,...,e112a,e112b,e113,e114,e115,z8,a59disco88,a60disco88,china10_wcd,china10_prefgb_special
0,6132.0,6132,2015,6132_2015,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,NaN,NaN,NaN,NaN,NaN,2015-10-27 16:15:00,2300.0,NaN,3101200.0,68.0
1,10915.0,10915,2012,10915_2012,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0
2,10328.0,10328,2013,10328_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0
3,11566.0,11566,2010,11566_2010,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0
4,346.0,346,2013,346_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0

In [35]:
# 确保需要合并的列存在
if 'CNTYGB_2010_y' in grouped_mean.columns and 'china10_cntygb' in cgss_data_df.columns:
    # 按照 CNTYGB_2010_y 和 china10_cntygb 列的值进行合并
    merged_df = cgss_data_df.merge(grouped_mean, left_on='china10_cntygb', right_on='CNTYGB_2010_y', how='left')
    # 删除 CNTYGB_2010_y 列
    merged_df.drop(columns=['CNTYGB_2010_y'], inplace=True)
merged_df.head()

,id_old,id_str,surveyyear,id_surveyyear,s41,s42,s43,cntyname,china10_cntygb,s44,...,bert_similarity_道教,bert_similarity_宗族,bert_similarity_遵守,bert_similarity_帝王,bert_similarity_信任,bert_similarity_鬼神,bert_similarity_慈善,bert_similarity_惩罚,bert_similarity_祖先,bert_similarity_孝道
0,6132.0,6132,2015,6132_2015,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.654586,0.712689,0.70781,0.654703,0.716937,0.69978,0.695668,0.667944,0.722437,0.695128
1,10915.0,10915,2012,10915_2012,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.654586,0.712689,0.70781,0.654703,0.716937,0.69978,0.695668,0.667944,0.722437,0.695128
2,10328.0,10328,2013,10328_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.654586,0.712689,0.70781,0.654703,0.716937,0.69978,0.695668,0.667944,0.722437,0.695128
3,11566.0,11566,2010,11566_2010,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.654586,0.712689,0.70781,0.654703,0.716937,0.69978,0.695668,0.667944,0.722437,0.695128
4,346.0,346,2013,346_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.654586,0.712689,0.70781,0.654703,0.716937,0.69978,0.695668,0.667944,0.722437,0.695128

In [17]:
output_path = "/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241203county_level_bert_similarity.csv"
grouped_mean.to_csv(output_path)
print(f"文件已成功保存至: {output_path}")

文件已成功保存至: /Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241203county_level_bert_similarity.csv

In [5]:
cgss_data_df.head()

,id_old,id_str,surveyyear,id_surveyyear,s41,s42,s43,cntyname,china10_cntygb,s44,...,e112a,e112b,e113,e114,e115,z8,a59disco88,a60disco88,china10_wcd,china10_prefgb_special
0,6132.0,6132,2015,6132_2015,1.0,1.0,1.0,上海市徐汇区,310104.0,1.0,...,NaN,NaN,NaN,NaN,NaN,2015-10-27 16:15:00,2300.0,NaN,3101200.0,68.0
1,10915.0,10915,2012,10915_2012,1.0,1.0,1.0,上海市徐汇区,310104.0,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0
2,10328.0,10328,2013,10328_2013,1.0,1.0,1.0,上海市徐汇区,310104.0,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0
3,11566.0,11566,2010,11566_2010,1.0,1.0,1.0,上海市徐汇区,310104.0,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0
4,346.0,346,2013,346_2013,1.0,1.0,1.0,上海市徐汇区,310104.0,1.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,3101200.0,68.0

In [74]:
spatial_join_df.head()

,rowid,name,cailu,provgb,citygb,cntygb,area,geocode,PROVGB_1953,CITYGB_1953,...,PROVGB_2010,CITYGB_2010,CNTYGB_2010,new_name,area_group,centroid_1982,centroid_1990,centroid_2000,combined_centroid,matched_gbcode
0,1,04946__322老汉的宝物,missing values,missing valuesd,missing valuesd,missing valuesd,青海循化县,"{'lng': 116.413384, 'lat': 39.910925}",63.0,6301.0,...,NaN,NaN,NaN,老汉的宝物,宁夏,NaN,NaN,NaN,NaN,NaN
1,2,04743__121造过麦山的白土城,missing values,63,6321,632122,青海民和县,"{'lng': 102.83639, 'lat': 36.325561}",63.0,6301.0,...,NaN,NaN,632122.0,造过麦山的白土城,宁夏,POINT (102.76606258935416 36.14425184441833),POINT (102.76606258935416 36.14425184441833),NaN,POINT (102.76606258935416 36.14425184441833),632122.0
2,3,05119__496伊斯玛悔过,林昌林,63,6301,630100,青海西宁市,"{'lng': 101.78445, 'lat': 36.623385}",63.0,6301.0,...,NaN,NaN,630104.0,伊斯玛悔过,宁夏,POINT (101.75323508407594 36.63253767769244),POINT (101.75323508407588 36.632537677692405),NaN,POINT (101.75323508407591 36.632537677692426),630104.0
3,4,05049__425三姊妹,李友楼,missing valuesd,missing valuesd,missing valuesd,青海互助县,"{'lng': 101.964569, 'lat': 36.850022}",63.0,6301.0,...,NaN,NaN,NaN,三姊妹,宁夏,NaN,NaN,NaN,NaN,NaN
4,5,04849__225老鼠的智慧,missing values,63,6323,632321,青海同仁县,"{'lng': 116.413384, 'lat': 39.910925}",63.0,6323.0,...,NaN,NaN,632321.0,老鼠的智慧,宁夏,POINT (102.0739790147858 35.423843042544235),POINT (102.0739790147858 35.423843042544235),POINT (102.0739790147858 35.423843042544235),POINT (102.0739790147858 35.423843042544235),632321.0

In [75]:
gpt_story_analysis_df.head()

,故事名称,帝王,遵守,结拜,故事原文
0,/Users/zhaorunping/Desktop/Research_Onging/241...,D,A,D,479-拿 龙\n\n（回族）\n\n桃园坝子的回回人可多啦，相传回回人中还出了不少降龙伏虎...
1,/Users/zhaorunping/Desktop/Research_Onging/241...,D,D,D,328-吐良的传说\n\n（景颇族）\n\n传说在很久以前，瑞达崩地方有一个英俊剽悍的小伙子...
2,/Users/zhaorunping/Desktop/Research_Onging/241...,D,B,C,611.摇竹惊雀\n\n（汉族）\n\n很早以前.在个旧锡矿山上，有一个叫金竹林的地方。这里...
3,/Users/zhaorunping/Desktop/Research_Onging/241...,D,A,D,605-父亲长出了双牛脚\n\n（汉族）\n\n有一对相处得极好的朋友，一个叫张三，另一个叫...
4,/Users/zhaorunping/Desktop/Research_Onging/241...,D,A,D,606.偷盗的下场\n\n（阿昌族〉\n\n很久以前，石嘴山下住着两兄弟.哥哥叫岩?弟弟叫航...

In [78]:
# 检查是否有“故事名称”列
if '故事名称' in gpt_story_analysis_df.columns:
    # 修改“故事名称”列，保留第一个“/”后的字符
    gpt_story_analysis_df['故事名称'] = gpt_story_analysis_df['故事名称'].apply(lambda x: x.split('/')[-1] if '/' in x else x)
else:
    print("df2中没有名为'故事名称'的列")

In [79]:
gpt_story_analysis_df['故事名称'] = gpt_story_analysis_df['故事名称'].str.replace('.txt', '', regex=False)
gpt_story_analysis_df.head()

,故事名称,帝王,遵守,结拜,故事原文
0,01233__479-拿龙,D,A,D,479-拿 龙\n\n（回族）\n\n桃园坝子的回回人可多啦，相传回回人中还出了不少降龙伏虎...
1,01085__328-吐良的传说,D,D,D,328-吐良的传说\n\n（景颇族）\n\n传说在很久以前，瑞达崩地方有一个英俊剽悍的小伙子...
2,01362__611摇竹惊雀,D,B,C,611.摇竹惊雀\n\n（汉族）\n\n很早以前.在个旧锡矿山上，有一个叫金竹林的地方。这里...
3,01356__605-父亲长出了双牛脚,D,A,D,605-父亲长出了双牛脚\n\n（汉族）\n\n有一对相处得极好的朋友，一个叫张三，另一个叫...
4,01357__606偷盗的下场,D,A,D,606.偷盗的下场\n\n（阿昌族〉\n\n很久以前，石嘴山下住着两兄弟.哥哥叫岩?弟弟叫航...

In [ ]:
gpt_story_analysis_subset = gpt_story_analysis_df.drop(columns=["故事原文"])

In [83]:
# 假设 gpt_story_analysis_df 和 spatial_join_df 已加载

# 合并数据框
spatial_join_df = pd.merge(
    spatial_join_df,
    gpt_story_analysis_subset,
    left_on='name',
    right_on='故事名称',
    how='left'  # 左连接保留 spatial_join_df 的所有行
)

spatial_join_df.head()

                 name  CNTYGB_2010                故事名称 帝王 遵守 结拜
0     04946__322老汉的宝物          NaN     04946__322老汉的宝物  D  D  D
1  04743__121造过麦山的白土城     632122.0  04743__121造过麦山的白土城  C  D  D
2     05119__496伊斯玛悔过     630104.0     05119__496伊斯玛悔过  D  A  D
3       05049__425三姊妹          NaN       05049__425三姊妹  D  D  A
4     04849__225老鼠的智慧     632321.0     04849__225老鼠的智慧  D  A  D

In [85]:
spatial_join_df = spatial_join_df.drop(columns=["故事名称"])

In [86]:
spatial_join_df.head()

                 name  CNTYGB_2010 帝王 遵守 结拜
0     04946__322老汉的宝物          NaN  D  D  D
1  04743__121造过麦山的白土城     632122.0  C  D  D
2     05119__496伊斯玛悔过     630104.0  D  A  D
3       05049__425三姊妹          NaN  D  D  A
4     04849__225老鼠的智慧     632321.0  D  A  D

In [88]:
theme_columns = spatial_join_df.columns[2:]  # 从第4列开始是主题列
theme_columns

Index(['帝王', '遵守', '结拜'], dtype='object')

In [89]:
import pandas as pd

# 假设数据框名为 df
# 筛选主题列
theme_columns = spatial_join_df.columns[2:]  # 从第4列开始是主题列

# 创建一个空的结果数据框
results = []

# 按照 CNTYGB_2010 分组
grouped = spatial_join_df.groupby('CNTYGB_2010')

# 遍历每个分组
for cntygb, group in grouped:
    # 对每个主题统计 A, B, C, D 的占比
    for theme in theme_columns:
        counts = group[theme].value_counts(normalize=True)  # 计算占比
        for option in ['A', 'B', 'C', 'D']:
            results.append({
                'CNTYGB_2010': cntygb,
                'Theme': theme,
                'Option': option,
                'Proportion': counts.get(option, 0)  # 若没有该选项则填0
            })

# 转换结果为 DataFrame
proportion_df = pd.DataFrame(results)
proportion_df.head()

   CNTYGB_2010 Theme Option  Proportion
0     110101.0    帝王      A    0.523810
1     110101.0    帝王      B    0.000000
2     110101.0    帝王      C    0.047619
3     110101.0    帝王      D    0.428571
4     110101.0    遵守      A    0.000000

In [90]:
# 将列名组合为 Theme+Option
proportion_df['Theme_Option'] = proportion_df['Theme'] + '_' + proportion_df['Option']

# 转换为宽格式
wide_df = proportion_df.pivot(
    index='CNTYGB_2010',  # 行索引为 CNTYGB_2010
    columns='Theme_Option',  # 列索引为 Theme_Option
    values='Proportion'  # 值为 Proportion
)

# 重置列索引，恢复为普通列
wide_df.reset_index(inplace=True)

wide_df

Theme_Option,CNTYGB_2010,帝王_A,帝王_B,帝王_C,帝王_D,结拜_A,结拜_B,结拜_C,结拜_D,遵守_A,遵守_B,遵守_C,遵守_D
0,110101.0,0.523810,0.000000,0.047619,0.428571,0.000000,0.0,0.00,1.000000,0.000000,0.047619,0.285714,0.666667
1,110102.0,0.395349,0.000000,0.046512,0.558140,0.046512,0.0,0.00,0.953488,0.046512,0.046512,0.302326,0.604651
2,110103.0,0.166667,0.041667,0.062500,0.729167,0.020833,0.0,0.00,0.979167,0.104167,0.000000,0.291667,0.604167
3,110104.0,0.650000,0.000000,0.100000,0.250000,0.000000,0.0,0.05,0.950000,0.150000,0.050000,0.150000,0.650000
4,110105.0,0.500000,0.000000,0.000000,0.500000,0.000000,0.0,0.10,0.900000,0.100000,0.100000,0.500000,0.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,654322.0,0.200000,0.000000,0.000000,0.800000,0.200000,0.0,0.00,0.800000,0.200000,0.000000,0.400000,0.400000
1717,654323.0,0.666667,0.000000,0.000000,0.333333,0.000000,0.0,0.00,1.000000,0.000000,0.000000,0.333333,0.666667
1718,654324.0,0.571429,0.000000,0.000000,0.428571,0.000000,0.0,0.00,1.000000,0.571429,0.000000,0.285714,0.142857
1719,654326.0,0.500000,0.000000,0.000000,0.500000,0.000000,0.0,0.00,1.000000,0.500000,0.000000,0.000000,0.500000
1720,659002.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.00,1.000000,0.000000,0.000000,0.000000,1.000000

In [91]:
wide_df.columns = [
    col if i < 1 else f"gpt_proportion_{col}" 
    for i, col in enumerate(wide_df.columns)
]
wide_df

,CNTYGB_2010,gpt_proportion_帝王_A,gpt_proportion_帝王_B,gpt_proportion_帝王_C,gpt_proportion_帝王_D,gpt_proportion_结拜_A,gpt_proportion_结拜_B,gpt_proportion_结拜_C,gpt_proportion_结拜_D,gpt_proportion_遵守_A,gpt_proportion_遵守_B,gpt_proportion_遵守_C,gpt_proportion_遵守_D
0,110101.0,0.523810,0.000000,0.047619,0.428571,0.000000,0.0,0.00,1.000000,0.000000,0.047619,0.285714,0.666667
1,110102.0,0.395349,0.000000,0.046512,0.558140,0.046512,0.0,0.00,0.953488,0.046512,0.046512,0.302326,0.604651
2,110103.0,0.166667,0.041667,0.062500,0.729167,0.020833,0.0,0.00,0.979167,0.104167,0.000000,0.291667,0.604167
3,110104.0,0.650000,0.000000,0.100000,0.250000,0.000000,0.0,0.05,0.950000,0.150000,0.050000,0.150000,0.650000
4,110105.0,0.500000,0.000000,0.000000,0.500000,0.000000,0.0,0.10,0.900000,0.100000,0.100000,0.500000,0.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,654322.0,0.200000,0.000000,0.000000,0.800000,0.200000,0.0,0.00,0.800000,0.200000,0.000000,0.400000,0.400000
1717,654323.0,0.666667,0.000000,0.000000,0.333333,0.000000,0.0,0.00,1.000000,0.000000,0.000000,0.333333,0.666667
1718,654324.0,0.571429,0.000000,0.000000,0.428571,0.000000,0.0,0.00,1.000000,0.571429,0.000000,0.285714,0.142857
1719,654326.0,0.500000,0.000000,0.000000,0.500000,0.000000,0.0,0.00,1.000000,0.500000,0.000000,0.000000,0.500000
1720,659002.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.00,1.000000,0.000000,0.000000,0.000000,1.000000

In [93]:
wide_df['CNTYGB_2010'] = wide_df['CNTYGB_2010'].fillna(0).astype(int)

In [92]:
merged_df.head()

,id_old,id_str,surveyyear,id_surveyyear,s41,s42,s43,cntyname,china10_cntygb,s44,...,gpt_proportion_长寿_C,gpt_proportion_长寿_D,gpt_proportion_馈赠_A,gpt_proportion_馈赠_B,gpt_proportion_馈赠_C,gpt_proportion_馈赠_D,gpt_proportion_鬼神_A,gpt_proportion_鬼神_B,gpt_proportion_鬼神_C,gpt_proportion_鬼神_D
0,6132.0,6132,2015,6132_2015,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.875,0.291667,0.0,0.0,0.708333,0.291667,0.0,0.0,0.708333
1,10915.0,10915,2012,10915_2012,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.875,0.291667,0.0,0.0,0.708333,0.291667,0.0,0.0,0.708333
2,10328.0,10328,2013,10328_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.875,0.291667,0.0,0.0,0.708333,0.291667,0.0,0.0,0.708333
3,11566.0,11566,2010,11566_2010,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.875,0.291667,0.0,0.0,0.708333,0.291667,0.0,0.0,0.708333
4,346.0,346,2013,346_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.875,0.291667,0.0,0.0,0.708333,0.291667,0.0,0.0,0.708333

In [94]:
# 确保需要合并的列存在
if 'CNTYGB_2010' in wide_df.columns and 'china10_cntygb' in merged_df.columns:
    # 按照 CNTYGB_2010_y 和 china10_cntygb 列的值进行合并
    merged_df = merged_df.merge(wide_df, left_on='china10_cntygb', right_on='CNTYGB_2010', how='left')
    
    merged_df.drop(columns=['CNTYGB_2010'], inplace=True)

In [95]:
merged_df.head()

,id_old,id_str,surveyyear,id_surveyyear,s41,s42,s43,cntyname,china10_cntygb,s44,...,gpt_proportion_帝王_C,gpt_proportion_帝王_D,gpt_proportion_结拜_A,gpt_proportion_结拜_B,gpt_proportion_结拜_C,gpt_proportion_结拜_D,gpt_proportion_遵守_A,gpt_proportion_遵守_B,gpt_proportion_遵守_C,gpt_proportion_遵守_D
0,6132.0,6132,2015,6132_2015,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.791667,0.083333,0.0,0.0,0.916667,0.166667,0.041667,0.25,0.541667
1,10915.0,10915,2012,10915_2012,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.791667,0.083333,0.0,0.0,0.916667,0.166667,0.041667,0.25,0.541667
2,10328.0,10328,2013,10328_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.791667,0.083333,0.0,0.0,0.916667,0.166667,0.041667,0.25,0.541667
3,11566.0,11566,2010,11566_2010,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.791667,0.083333,0.0,0.0,0.916667,0.166667,0.041667,0.25,0.541667
4,346.0,346,2013,346_2013,1.0,1.0,1.0,上海市徐汇区,310104,1.0,...,0.0,0.791667,0.083333,0.0,0.0,0.916667,0.166667,0.041667,0.25,0.541667

In [98]:
merged_df.columns

Index(['id_old', 'id_str', 'surveyyear', 'id_surveyyear', 's41', 's42', 's43',
       'cntyname', 'china10_cntygb', 's44',
       ...
       'gpt_proportion_帝王_C', 'gpt_proportion_帝王_D', 'gpt_proportion_结拜_A',
       'gpt_proportion_结拜_B', 'gpt_proportion_结拜_C', 'gpt_proportion_结拜_D',
       'gpt_proportion_遵守_A', 'gpt_proportion_遵守_B', 'gpt_proportion_遵守_C',
       'gpt_proportion_遵守_D'],
      dtype='object', length=2862)

In [96]:
# 定义保存路径
output_csv_path = '/Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241203cgss_bert+gpt_county_level_mean.csv'

# 保存为 CSV 文件
merged_df.to_csv(output_csv_path, index=False, encoding='utf-8-sig')

print(f"合并后的数据已保存到: {output_csv_path}")

合并后的数据已保存到: /Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241203cgss_bert+gpt_county_level_mean.csv

文件已成功保存至: /Users/zhaorunping/Desktop/Research_Onging/2410_LSE_Xue/result/241203county_level_gpt_proportion.csv